//Fonts
$primary-font: "Roboto Slab", serif;
$text-font: "Roboto", sans-serif;
$default-font-size: 16px;

//Colors
$primary-color: #aa1423;
$text-color: #777777;
$section-color: #eeeeee;
$bg-color: #ffffff;
$highlight-color: #ff6e14;