/* Import CSS reset */
@import "reset";

// Import variables
@import "variables";

/* General rules */
body {
  background-color: $bg-color;
  font-family: $text-font;
}

h2, .total-hits {
  font-size: 32px;
  font-family: $primary-font;
  color: $primary-color;
  text-transform: uppercase;
}

/* Header */
header {
  margin: 16px 0;
  text-align: center;
}

/* URL shortener */
.shortener {
  background: url(../img/background-home.jpg) no-repeat center;
  background-size: cover;
  height: 480px;
  display: flex;
  align-items: center;
  h1 {
    font-family: $primary-font;
    font-size: 36px;
    font-weight: 700;
    color: $bg-color;
    margin-bottom: 20px;
  }
  p {
    font-size: $default-font-size;
    color: $bg-color;
  }
  article {
    max-width: 465px;
    margin: 0 auto;
    text-align: center;
  }
  form {
    margin-top: 50px;
    display: flex;
    input[type=text] {
      flex: 2;
      background: transparent;
      border: none;
      border-bottom: 2px $highlight-color solid;
      margin-right: 10px;
      color: $highlight-color;
      font-size: $default-font-size;
      font-family: $text-font;
      &::placeholder, &:focus {
        color: $highlight-color;
        font-size: $default-font-size;
        font-family: $text-font;
        outline: none;
      }
      &.short-url {
        color: $bg-color;
        font-weight: 700;
      }
    }
    /* It appears when the URL is shortened*/
    input[type=reset] {
      opacity: 0;
      &.active {
        opacity: 1;
        transition: opacity 1s linear;
        background-color: transparent;
        border: none;
        color: #ffffff;
        position: relative;
        top: -13px;
        right: 27px;
      }
    }
    .main-button {
      flex: 1;
      background-color: $highlight-color;
      color: $bg-color;
      border: 0;
      text-transform: uppercase;
      font-size: $default-font-size;
      font-weight: 700;
      font-family: $text-font;
      padding: 10px;
      &:hover {
        cursor: pointer;
        background-color: darken($highlight-color, 10%);
      }
      &:focus {
        outline: none;
      }
    }
  }
}

/* Top 5 URLs */
.top-five {
  text-align: center;
  h2 {
    margin: 50px 0 35px;
  }
  table {
    max-width: 370px;
    width: 80%;
    margin: 0 auto 60px;
    tr {
      &:not(:first-child) {
        border-top: 1px solid $section-color;
      }
    }
    td {
      padding: 10px 0;
      a {
        color: $primary-color;
        text-decoration: none;
        &:hover {
          color: darken($primary-color, 10%);
        }
      }
      &:nth-child(odd) {
        text-align: left;
        font-weight: 700;
      }
      &:nth-child(even) {
        text-align: right;
        color: $text-color;
      }
    }
  }
}

/* Hits to URLs */
.hits {
  background-color: $section-color;
  text-align: center;
  padding-bottom: 50px;
  &:before {
    position:absolute;
    content:"";
    width:0px;
    height:0px;
    border-top: 35px solid white;
    border-right: 35px solid transparent;
    border-bottom: 35px solid transparent;
    border-left: 35px solid transparent;
    left: 50%;
    margin-left: -35px;
  }
  h2 {
    padding: 70px 0 35px;
  }
  .total-hits {
    background-color: $bg-color;
    border: 1px solid #d2d2d2;
    border-radius: 5px;
    display: inline-block;
    padding: 10px;
  }
  .legend {
    margin-top: 10px;
    color: $text-color;
  }
}

/* Footer */
footer {
  display: flex;
  justify-content: space-between;
  max-width: 600px;
  width: 80%;
  margin: 25px auto;
  a {
    text-decoration: none;
  }
  .chaordic-link {
    font-size: 20px;
    color: $primary-color;
  }
  li {
    float: left;
  }
  .fb-chaordic {
    margin-right: 20px;
  }
}

/* Medias queries */
@media screen and (max-width: 520px) {
  .shortener {
    h1 {
      font-size: 26px;
    }
    p {
      font-size: 14px;
      line-height: 17px;
      margin: 0 10px;
    }
    form {
      flex-direction: column;
      input[type=button], input[type=text] {
        width: 80%;
        margin: 0 auto;
      }
      input[type=button] {
        margin-top: 20px;
      }
    }
  }
}

@media screen and (max-width: 440px) {
  .top-five table {
    font-size: 14px;
    margin-bottom: 30px;
  }
}